.box {
  padding: 10px;
  margin: var(--margin);
  justify-content: space-evenly;
}

img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: auto;
  margin: 10px;
}
  
/* Menu */
img.menu_button{
  padding: 0;
  max-width: 30px;
  max-height: 30px;
  height: auto;
  width: auto;
}
  
button.menu_button{
  padding: 0;
  max-width: 50px;
  max-height: 50px;
  height: auto;
  width: auto;
  background-color: transparent;
  border: transparent;
}

.menu_toggle {
  display: flex;
  align-items: center;
  width: 35%;
}

.search {
  display: flex;
  width: 50%;
  height: 50px;
  /* flex:1; */
  /* align-self: flex-end; */
  align-items: center;
  align-content: space-between;
}

.search input {
  width: 80%;
  /* max-width: 120px; */
  /* flex: 1; */
}

.search_button {
  width: 60px
  /* margin: 0 10px; */
  /* flex: 1; */
  /* align-self: flex-end; */
  
}

.search_button img {
  width: 30px;
  height: 30px;
}

.menu_categories {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  break-after: always;
  flex-grow: 0;
}

.menu_categories a:hover {
  background-color: #A18654;
}

.menu_categories.hidden {
  display: none;
}

.menu_categories li a {
  display: block;
  padding: 5px;
}

/* Footer */


/* Aside */
.aside {
  padding: 10px;
  /* text-align: center; */
}

.about_stores
{
  /* text-align: ; */
}

.store_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.store_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store_list a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.store_list img {
  width: 80px; /* Ширина зображення */
  height: 80px; /* Висота зображення */
  border-radius: 10px; /* Згладжені кути */
}

.store_list span {
  margin-top: 5px;
  font-size: 16px;
}

  