:root {
  --margin: 5px;
  /* Коефіцієнти для висоти блоків у лівій і правій колонках */
  --left-head-fraction: 1;
  --left-aside-fraction: 3;
  --left-footer-fraction: 1;
  --right-menu-fraction: 1;
  --right-main-fraction: 7;
  
  /* Суми коефіцієнтів для висоти лівої та правої колонок */
  --left-column-sum: calc(var(--left-head-fraction) + var(--left-aside-fraction) + var(--left-footer-fraction));
  --right-column-sum: calc(var(--right-menu-fraction) + var(--right-main-fraction));
  
  /* Висоти блоків з урахуванням відступів */
  --left-head-height: calc((var(--left-head-fraction) * 100vh / var(--left-column-sum)) - (2 * var(--margin)));
  --left-aside-height: calc((var(--left-aside-fraction) * 100vh / var(--left-column-sum)) - (2 * var(--margin)));
  --left-footer-height: calc((var(--left-footer-fraction) * 100vh / var(--left-column-sum)) - (2 * var(--margin)));
  --right-menu-height: calc((var(--right-menu-fraction) * 100vh/ var(--right-column-sum)) - (2 * var(--margin)));
  --right-main-height: calc((var(--right-main-fraction) * 100vh/ var(--right-column-sum)) - (2 * var(--margin)));
  --center-main-height: calc(100vh - (2 * var(--margin)));
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  min-height: 1310px;
}

/* Desktop */
@media (min-width: 1231px) {
  .container {
    flex-direction: column;
    align-content: space-between;
    /* TODO: min-height*/
  }
  
  /* Width of columns */
  .left {
    width: 400px;
  }
  .center {
    min-width: 400px;
    width: calc(100% - 800px - (6 * var(--margin))); 
  }
  .right {
    min-width: 300px;
    max-width: 400px;
  }   
  
  /* Header */
  .header {
    order: 1;
    flex-basis: var(--left-head-height);
    max-height: 200px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    align-content: space-between;
  }
    
  /* Aside */
  .aside {
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: var(--left-aside-height);  */
    min-height: 750px;
  }

  .about_stores, .stores, .aside h2 {
    width:100%;
  }
  
  /* Footer */
  .footer {
    order: 3;
    flex-basis: var(--left-footer-height);
    /* flex-shrink: 0;
    flex-grow: 1; */
  }
  
  /* Main_first */
  .main_first {
    order: 4;
    /* flex-basis: var(--center-main-height);
    flex-grow: 1; */
    height: 100%;
  }
  
  /* Menu */
  .menu {
    order: 5;
    flex-basis: var(--right-menu-height);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu_bar{
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: space-between; 
  }
  
  /* Main_second */
  .main_second {
    order: 6;
    flex-grow: 1;
    flex-shrink: 1;
    /* max-height: var(--right-main-height); */
  }
}

/*Tablet*/
@media (min-width: 801px) and (max-width: 1230px) {
  .container {
    /* TODO: min-height*/
    align-content:baseline;
  }
      
  /* Header */
  .header {
    order: 1;
    width: 400px;
    height: 160px;
    display: flex;
    }
  
  /* Menu */
  .menu {
    order: 2;
    width: calc(100% - 400px - (4 * var(--margin)));
    height: 160px;   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }  

  .menu_bar{
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: space-between; 
    height: min-content;
  }

  .categories{
    display: flex;
    width: 100%;
  }

  .menu_categories {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between; 
    gap: 5px;
  }

  /* Aside */
  .aside {
    order: 3;
    min-width: 170px;  /*TODO: After filling with content check for min-width*/
    width: calc(30% - (2 * var(--margin)));

    min-height: 850px;
    height: var(--left-aside-height);

    display: flex;
    flex-wrap: wrap;
  }

  .about_stores, .stores, .aside h2 {
    width:100%;
  }
  
  /* Main_first */
  .main_first {
    order: 4;
    width: calc(45% - (2 * var(--margin)));
    min-height: 850px;
    height: var(--left-aside-height);
  }
      
  /* Main_second */
  .main_second {
    order: 5;
    width: calc(25% - (2 * var(--margin)));
    min-height: 850px;
    height: var(--left-aside-height);
    align-self: stretch;
    flex-shrink: 1;
  }
      
  /* Footer */
  .footer {
    order: 6;
    width: 100vw;
    /* min-height: fit-content; */
    height: auto;
    display: flex;
  }
}
  
/* Phone */
@media (max-width: 800px) {
    .container {
      flex-direction: column;
      min-width: 400px;
      flex-wrap: nowrap;
      /* TODO: min-height*/
    }

    /* Header */
    .header {
      order: 1;
      /* flex-basis: var(--left-head-height); */
      flex-shrink: 0;    
      display: flex;
        /*align-items: center;*/
    }
      /* Menu */
    .menu {
      order: 2;
      /* flex-basis: var(--right-menu-height); */
    }
  
    .menu_bar{
      display: flex;
      width: 100%;
      align-items: center; 
      justify-content: space-between; 
      height: min-content;
    }

    .categories{
      display: flex;
      width: 100%;
    }

    .menu_categories {
      display: flex;
      width: 100%;
      list-style: none;
      justify-content: space-between; 
      gap: 5px;
    }
    
    .menu_bar{
      display: flex;
      width: 100%;
      align-items: center; 
      justify-content: space-between; 
    }  

      /* Aside */
    .aside {
      order: 3;
      /* flex-basis: var(--left-aside-height); */
      flex-grow: 1;
      flex-shrink: 1;
      max-height: var(--left-aside-height);

      display: flex;
      flex-wrap: wrap;
    }

  .about_stores, .stores, .aside h2 {
    width:100%;
  }
  
    /* Main_first */
    .main_first {
      order: 4;
      /* flex-basis: var(--center-main-height); */
    }
      
    /* Main_second */
    .main_second {
      order: 5;
      /* flex-basis: var(--right-main-height); */
    }
      
    /* Footer */
    .footer {
      order: 6;
      /* flex-basis: var(--left-footer-height); */
      flex-shrink: 0;
      /* display: flex; */
    } 
  }