.box {
  background-color: #0D141E;
  border: 2px solid #A18654;
}

img {
  max-width: 100%;
  height: auto;
}


/* Footer */
.footer {
  text-align: center;
  color: #A18654;
}
  
.contact h2 {
  color: #fff;
  font-size: 1.5em;
  /* margin-bottom: 10px; */
}
  
.contact_info p {
    /* margin: 5px 0; */
    font-size: 1em;
}
  
.contact_info .mischief {
  font-style: italic;
  color: #A18654;
  /* margin-top: 15px; */
}
  
.contact_info a {
  color: #A18654;
  text-decoration: none;
}
  
.contact_info a:hover {
  color: #fff;
  text-decoration: underline;
}
  
/* .social-media {
  margin-top: 15px;
} */
  
.social_media a {
  color: #A18654;
  text-decoration: none;
}
.social_media a:hover {
  text-decoration: underline;
}


.footer p {
  font-size: 0.9em;
  /* margin-top: 15px; */
}
  
/* Menu */
.menu_button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu_button img{
  width: 30px;
  height: 30px;
}
  
.menu_button p {
  margin-left: 5px;
  font-size: 2em;
  color: #fff;
}
  
.search {
    border: 2px solid #A18654;
    border-radius: 20px;
    padding: 5px;
    background-color: #0D141E;
}
  
.search input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    padding: 5px;
    font-size: 1em;
}
  
.search_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
.menu_categories li a {
    color: #A18654;
    text-decoration: none;
}