:root {
  --margin: 5px;

  /* Коефіцієнти для висоти блоків у лівій і правій колонках */
  --left-head-fraction: 1;
  --left-aside-fraction: 3;
  --left-footer-fraction: 1;
  --right-menu-fraction: 1;
  --right-main-fraction: 5;

  /* Суми коефіцієнтів для висоти лівої та правої колонок */
  --left-column-sum: calc(var(--left-head-fraction) + var(--left-aside-fraction) + var(--left-footer-fraction));
  --right-column-sum: calc(var(--right-menu-fraction) + var(--right-main-fraction));

  /* Висоти блоків з урахуванням відступів */
  --left-head-height: calc((var(--left-head-fraction) * 100vh / var(--left-column-sum)) - (2 * var(--margin)));
  --left-aside-height: calc((var(--left-aside-fraction) * 100vh / var(--left-column-sum)) - (2 * var(--margin)));
  --left-footer-height: calc((var(--left-footer-fraction) * 100vh / var(--left-column-sum)) - (2 * var(--margin)));
  --right-menu-height: calc((var(--right-menu-fraction) * 100vh/ var(--right-column-sum)) - (2 * var(--margin)));
  --right-main-height: calc((var(--right-main-fraction) * 100vh/ var(--right-column-sum)) - (2 * var(--margin)));
  --center-main-height: calc(100vh - (2 * var(--margin)));

  /* Коефіцієнти для ширини колонок */
  --left-column-fraction: 1;
  --center-column-fraction: 4;
  --right-column-fraction: 2;

  /* Сума коефіцієнтів колонок */
  --columns-sum: calc(var(--left-column-fraction) + var(--center-column-fraction) + var(--right-column-fraction));

  /* Ширини колонок з урахуванням відступів */
  --left-column-width: calc((var(--left-column-fraction) * 100% / var(--columns-sum)) - (2 * var(--margin)));
  --center-column-width: calc((var(--center-column-fraction) * 100%/ var(--columns-sum)) - (2 * var(--margin)));
  --right-column-width: calc((var(--right-column-fraction) * 100% / var(--columns-sum)) - (2 * var(--margin)));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000209;
  color: #fff;
}

.box {
  background-color: #0D141E;
  border: 2px solid #A18654;
  padding: 20px;
  margin: var(--margin);
  justify-content: space-evenly;
}

/* Responsive Styling */
img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: auto;
  margin: 10px;
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    align-content: space-between;
  }

  /* Width of columns */
  .left {
    min-width: 300px;
    width: var(--left-column-width);
  }
  .center {
    width: var(--center-column-width);
  }
  .right {
    min-width: 300px;
    width: var(--right-column-width);
  }   

  /* Left Column */
  /* Header */
  .header {
    order: 1;
    flex-basis: var(--left-head-height);
    flex-shrink: 0;
    
    display: flex;
    /*align-items: center;*/
  }

  /* .name {
    flex: 1;
  } */
  
  /* Aside */
  .aside {
    order: 2;
    /* flex-basis: var(--left-aside-height); */
    flex-grow: 1;
    flex-shrink: 1;
    max-height: var(--left-aside-height);
    /* display: flex;+ */
  }

  /* Footer */
  .footer {
    order: 3;
    flex-basis: var(--left-footer-height);
    flex-shrink: 0;
    /* display: flex; */
  }

  /* Center column */
  /* Main_first */
  .main_first {
    order: 4;
    flex-basis: var(--center-main-height);
  }

  /* Right column */
  /* Menu */
  .menu {
    order: 5;
    flex-basis: var(--right-menu-height);
  }

  /* Main_second */
  .main_second {
    order: 6;
    flex-basis: var(--right-main-height);
  }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    align-content:baseline;
  }

  /* Width of columns */
  /*.center {
    width: var(--center-column-width);
    min-width: 300px;
  }
  .right {
    width: var(--right-column-width);
  } */
    
  /* Header */
  .header {
    order: 1;
    width: calc(30% - (2 * var(--margin)));
    height: var(--left-head-height);
    display: flex;
    flex-shrink: 0;
    /*align-items: center;*/
  }

  /* Menu */
  .menu {
    order: 2;
    min-width: 170px;
    width: calc(70% - (2 * var(--margin)));
    height: var(--left-head-height);
    flex-shrink: 1;
  }
      
  /* Aside */
  .aside {
    order: 3;
    min-width: 170px;
    width: calc(30% - (2 * var(--margin)));
    height: var(--left-aside-height);
    flex-shrink: 0;
  }

  /* Main_first */
  .main_first {
    order: 4;
    width: calc(45% - (2 * var(--margin)));
    height: calc(100vh - var(--left-head-height)-(2 * var(--margin)));
    align-self: stretch;
    flex-shrink: 1;
    /* flex-basis: var(--center-main-height); */
  }
    
  /* Main_second */
  .main_second {
    order: 5;
    width: calc(25% - (2 * var(--margin)));
    height: calc(100vh - var(--left-head-height)-(2 * var(--margin)));
    align-self: stretch;
    flex-shrink: 1;
    /* flex-basis: var(--right-main-height); */
  }
    
  /* Footer */
  .footer {
    order: 6;
    width: 100vw;
    height: calc(100vh - var(--left-head-height) - var(--left-aside-height) - (6 * var(--margin)) );
    flex-shrink: 1;
    /* flex-basis: var(--left-footer-height); */
    /* display: flex; */
  }
}

/* Phone */
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
  }
  /* Header */
  .header {
    order: 1;
    /* flex-basis: var(--left-head-height); */
    flex-shrink: 0;    
    display: flex;
      /*align-items: center;*/
  }
    /* Menu */
  .menu {
    order: 2;
    /* flex-basis: var(--right-menu-height); */
  }
    
    /* Aside */
  .aside {
    order: 3;
    /* flex-basis: var(--left-aside-height); */
    flex-grow: 1;
    flex-shrink: 1;
    max-height: var(--left-aside-height);
  }

  /* Main_first */
  .main_first {
    order: 4;
    /* flex-basis: var(--center-main-height); */
  }
    
  /* Main_second */
  .main_second {
    order: 5;
    /* flex-basis: var(--right-main-height); */
  }
    
  /* Footer */
  .footer {
    order: 6;
    /* flex-basis: var(--left-footer-height); */
    flex-shrink: 0;
    /* display: flex; */
  } 
}
